* {
  font-family: 'Oswald', sans-serif;
} 
 
 body{
   background-color: #F5EFEF !important;

 }

.nav-items{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background:#E51324;
  color:white;
  place-items: center;
}
.nav-items > img{
  margin: 0 100px 0 0 ;
}
.spacing {
  padding-left: 12rem;
  padding-right: 12rem;
}

.nav-buttons{
  font-size: 18px;
  text-decoration: none;
  color: white;
  display: flex;
  gap: 0px;
  font-weight: 600;

  
}
.nav-buttons:hover{
  width: auto;
  height: 40px;
  border-radius: 5px;
  align-items: center;
  background-color: white;
  color: red;

}
.nav-buttons >img{
  width: 50px;
  height: 30px;
  opacity: none;
}

.nav-buttons:focus{
  background: white;
  padding: 5px;
  color: #E51324;
  border-radius: 3px;
}

.label{
  height: 50px;
  background: white;
  margin-top: 80px;
  /* margin-left: -90px; */
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
  
}
.label p{
  margin-top: 15px;
  font-weight: 1000;
}
.breaking-news{
  background: #E51324;
  border-radius: 5px;
  padding: 15px 10px;
  color: white;
  margin-top: 10px;

}
.rebel {
  width: 1400px;
  height: 1000px;
}
.signin-container{
  display: grid;
  justify-items: center;
  margin-top: -60px;
}

.signin-main {
  background-color: white;
  border-radius: 10px;
  padding: 80px 30px 30px 30px;
  width: 50%;
}

.admin-container {
  display: grid;
  justify-items: center;
  margin-top: 60px;

}
.signin-input, .signin-btn {
  width: 90%;
  margin-bottom: 40px;
  height: 50px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 20px;
  border: solid 1px;
}

.singin-logo {
  margin-top: -60px;
  margin-bottom: 80px;
  background: #E51324;
  width: 100%;
  height: 120%;
}
.singin-logo img {
  margin-top: 25px;
  margin-left: 520px;
  
}
.logo{
  margin-left: -30px;
}
.span-news{
  font-size: 20px;
  color: blue;
  
}

.nav-signin {
  color: #E51324;
  font-size: 15px;
  text-decoration: none;
  margin-left: 6%;
  margin-top: -10px;
}
.play{
  width: 120px;
  height: 50px;
}
.signin-botn {
  background: #E51324;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  width: 550px;
  height: 50px;
  color: white;
}
.span-news {
  font-size: 20px;
}
.reset-password {
  display: inline-flex;
  gap: 5px;
  font-size: 20px;
  margin-top: 20px;
}
.forgot-password {
  opacity: 30%;
}
h1 {
  font-weight: bold;
}
.p-tag{
  opacity: 30%;
}

.politics-header {
  background-color: #E51324;
  height: 50px;
  color: white;
  margin-top: 50px;
  width: 90%;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 40px;
  font-weight: 800;
}
.politics-header p{
  align-items: center;
  margin-left: 20px;
}
.politics-header, img {
  margin-left: 50px;
  margin-right: 40px;
  font-size: 18px;
}
.comment-div {
  height: 200px;
  width: 1200px;
  margin-left: 50px;
  margin-right: 40px;
}
.paragraph-one {
  margin-left: 50px;
  margin-right: 80px;
  font-weight: 800;
}
.paragraph-two {
  margin-left: 50px;
  margin-right: 80px;
  text-align: justify;
  width: 90%;
}
.images-small{
  width: 1200px !important; 
}
#carousel-div {
  margin-top: 50px;
  
}
.home-paragraph {
  margin-left: 50px;
  margin-right: 40px;
  color: #E51324;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
}
.home-paragraph-sports {
  background: #E51324;
  height: 70px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  align-items: center;
  margin-left: 45px;
  margin-right: 30px;
}

.home-paragraph-sports > p{
  color: black;
}
.carousel-indicators{
  border-radius: 5px;
}

.carousel-p{
 font-size: 15px;
 text-align: left;
 font-weight: 100;
 margin-left: -150px;

}
.carousel-h{
 font-size: 50px;
 text-align: left;
 font-weight: 800;
 margin-left: -150px;
 
}
.carousel-caption {
  margin-right: -60px;
}
.img-paragraph{
  margin-left: 50px;
  margin-right: 40px;
  margin-top: -70px;
  font-size: 18px;
  color: white;
  padding: 5px 10px;
  width: 100%;
}
.img-paragraph-sports {
  margin-left: 50px;
  margin-top: -70px;
  margin-right: 40px;
  font-size: 18px;
  color: white;
  background: #0D334D !important;
  position: absolute !important;
  z-index: 4 !important; 
  padding: 5px 10px;
  width: 100%;
}

.medal--image {
  z-index: -1 !important;
}

.img-paragraph-two{
  margin-left: 60px;
  margin-top: -80px;
  font-size: 18px;
  color: white;
}
.under-img{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100vw;
  margin-bottom: 20px;
  
}

.card-img {
  background: none;
  margin: 0px;
  padding: 0px;
}
 
.row--container {
  background-color: #F5EFEF;
  border: none;
} 
.div-images{
  display: flex;
  font-size: 12px;
}
.card-body {
   margin-left: 35px;
   font-size: 12px;
}
.card-title {
  font-weight: bold;
}
.card-text {
  font-weight: 400;
  font-size: 12px;
}
.footer-links {
  display: grid;
  padding: 30px;
  color:white;
  place-items: left;
  width: 10%;
}
.footer-lines{
  color: white;
  font-weight: 800;
}
.footer-items {
  background-color: #E51324 !important ;
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-top: 50px;
  margin-bottom: 60px;
  height: 350px;
}


.food-images{
  width: 25%;
  padding: 0;
  
  
}

.footer-socials {
  width: 25%;
}

.contact-us {
  width: 25%;
}

.gallery {
  padding: 0;
  margin-left: -35px;
}
.tags-text{
  display: flex;
  justify-content: space-between;
  width: 250px;
}


.tags-btn{
  background:#F5EFEF;
  color: #E51324;
  width: 80%;
  border-radius: 5px;
  height: 50px;
  margin-top: 20px;
}
.tags-input{
  background: #eeeaea;
  width: 80%;
  height: 50px;
  
}
.comment-section{
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.comment-section > img {
  width: 20%;
}
.comment-btn{
  width: 250px;
  color: darkslategray;
  background-color: white;
  height: 60px;
}
  /* .comment-section-one{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    

  } */
.comment-img{
  width: 100px;
  height: 50px;
}
.comment-texts {
  width: 600px;
  
}
.tags-div{
  width: 200px;
  margin-top: 20px;
}

.dash-blue-one {
  background-color: #E51324;
  width: 20%;
  height: 100vh;
}
.dash-blue img {
  /* background-color: hsl(0, 23%, 87%); */
  color: white;
}

.admin-dash-logo {
  background: #F5EFEF;
  height: 85px;
}

.admin-dash-right-panel {
  display: grid;
  gap: 24vh;
}

.dash-blue {
  display: grid;
  gap: 20px;
  color:white;
  position: relative;
  margin-bottom: 0px;
  margin-top: 40px; 
}

.dash-links img {
  margin-right: 10px;
}

.dash-links {
  text-decoration: none;
  font-weight: 500;
  color: white;

}
.dash-settings{
  margin-left: 2px;
  font-size: 15px;
  color: white;
  display: flex;
  text-decoration: none;
}
.dash-settings > Link {
  color:white;
  text-decoration: none;
}


.dash-welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 100%;
  height: 90px;
  margin-top: 0%;
}
.dash-news{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 100px;
  /* margin-top: -500%px; */
}
.span-news-one{
  color: blue;
  font-size: 30px;
  margin-left: -30px;

}
.dash-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0%;
  margin-top: 30px;
  padding-left: 120px;
}
.dash-button button{
  width: 176px;
  height: 53px;
  border-radius: 5px;
  border: none;
  background-color: white;
  background-repeat: no-repeat;
  margin-top: -50px;
  /* margin-right: 40px; */
  

}
.dash-title {
  height: 47px;
  width: 50%;
  border-radius: 4px;
  margin-top: 20px;
}
.dash-text-area{
  display: flex;
}
.dash-flex{
  background-color: white;
  height: 500px;
  width: 650px;
  margin-top: -40px;
  margin-left: 5px;
  align-items: center;
}
.dash-flex img {
  margin-right: 10px;
}
.dash-flex h6 {
  font-weight: 700;
  margin-left: 20px;
  font-size: 18px;
}
.dash-flex input {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.dash-para{
  margin-left: 35px;
  width: 300px;
  /* border: 1px solid black; */
}
.dash-input  {
  /* background-image: url("./search.png"); */
  background-repeat: no-repeat;
  border-radius: 2px;
  outline: none;
  border: 1px solid black ;
}
.dash-radio-buttons{
  margin-top: 20px;
  margin-left: 40px;
}
.dash-button-two{
  background-color: #E51324;
  color: white;
}
.input-btn {
  padding-right: 100px;
  background-color: white;
  border: 1px solid black;
  margin-left: 80px;



}
.footer-lines{
  width: 250px;
}
.dash-upload{
  width: 500px;
   height: 300px;
   background-color: white;
   margin-top: -295px;
   margin-left: 10px;
}
.upload{
  width: 300px;
  border: dashed;
}
.upload-div{
  display: flex;
  justify-items:first baseline;
  gap: 30px;
  margin-left: 30px;
  margin-top: 10px;
}

.upload-div p, .upload-div input {
  height: 35px;
  border-radius: 3px;
  
}
.main-container{
  display: flex;
}
.dash-body{
  display: grid;
}